body{
	background-color: #ccccc;
	margin: 0;
	padding: 0;
}

.wrapper{
	margin: 0 auto;
	margin-top: 20px;
	width:900px;
	background-color: white;
}

@keyframes backanim{
	100% { transform: translate(0,350px); }
}

@keyframes name{
	0% { color: red; }
	25% { color: orange; }
	50% { color: green; }
	75% { color: blue;}
	100% { color: purple;}
}

header{
	text-align: center;
	border: 1px solid black;
	border-radius: 3px;
	margin-bottom: 30px;
}

.form{
	height: 140px;
	text-align: center;
	border: 1px solid black;
	border-radius: 3px;
	padding: 15px;
}
	.field { clear: both; text-align: right; line-height:25px; }
	label { float: left; padding-right:20px; }
	.form-block{ float: left; padding-left: 290px; }
	button[type="submit"]{ margin-top: 15px; }

h1{
	animation-name: name;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.anim{
	position:absolute;
	color: red;
	font-size: 30px;
	animation-name: backanim;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
	.aleft{
		left: 25px;
	}
	.aright{
		right: 25px;
	}
a{
	color: purple;
	font: Tahoma;
	font-size: 25px;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a.right{
	float: right;
}

a.left{
	float: left;
}